.brand-tools.short-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    grid-gap: 32px 48px;

    @media (max-width: 1024px){
        grid-gap: 32px 24px;
    }
    @media (max-width: 768px){
        grid-gap: 24px;

        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}


.brand-tools{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    grid-gap: 32px 48px;

    @media (max-width: 1024px){
        grid-gap: 32px 24px;
    }
    @media (max-width: 768px){
        grid-gap: 24px;

        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}


.brand-tools.short-list{
    .brand-tools__brand{
        @media (max-width: 480px){
            &:nth-child(n + 9){
                display: none;
            }
        }
    }
}

.brand-tools__brand{
    display: flex;
    justify-content: center;
    align-items: center;


    

    img{
        max-width: 100%;
        transition: 300ms ease-out;
        
    }

    &:hover{
        img{
            transform: scale(1.1);
            
        }
    }
}

.brand-tools__all{
    margin-top: 50px;
    display: flex;
    justify-content: center;

    @media (max-width: 768px){
        margin-top: 40px;
    }
}